* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    #009688 0%,
    #009688 130px,
    #d9dbd5 130px,
    #d9dbd5 100%
  );
  height: 100vh;
  width: 100%;
}

h6 {
  font-weight: 500;
}

.container {
  margin: 20px auto;
  position: relative;
  display: flex;
  max-width: 90%;
  height: calc(100vh - 40px);
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
}

.leftSide {
  position: relative;
  width: 30%;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid rgb(211, 211, 211);

  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 8%;
  background: #ededed;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userimg {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
}

.nomeUser {
  position: absolute;
  top: 10px;
  left: 50px;
}

.userimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.i {
  margin: 0px 13px;
  color: #9c9e9e;
}

.notifiche {
  width: 100%;
  height: 60px;
  background: #8dd8fa;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
}

.iconNotifiche {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconNotifiche i {
  color: #8dd8fa;
}

.notifiche h5 {
  font-weight: 400;
}

.notifiche h6 {
  font-weight: 400;
  color: rgb(37, 37, 37);
  text-decoration: underline;
}

.search {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.search div {
  width: 100%;
}

.search div input {
  width: 100%;
  outline: none;
  border: none;
  background: #fff;
  padding: 6px;
  height: 35px;
  border-radius: 5px;
  font-size: 12px;
  padding-left: 50px;
}

.search i {
  position: absolute;
  left: 30px;
  top: 17px;
  color: #9c9e9e;
}

.mainUsers {
  overflow-x: auto;
  height: 64%;
}

ul {
  list-style: none;
}

li {
  padding: 0px 10px;
}

li:hover {
  background-color: #e3e3e3;
}

.friendsBox {
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.friendsImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.datiUser {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accesso {
  top: 20px;
}

.rightSide {
  position: relative;
  width: 70%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userFirst {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main {
  background: #e5ddd5;
  background-image: url(../img/mine.jpg);
  height: 84%;
  overflow-x: auto;
}

.TuttiImessaggi {
  padding: 45px;
  display: flex;
  flex-direction: column;
}

.inputMessaggio {
  position: relative;
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.inputMessaggio input {
  width: 100%;
  outline: none;
  border: none;
  background: #fff;
  padding: 6px;
  height: 35px;
  border-radius: 5px;
  font-size: 12px;
}

.message {
  height: 20px;
  padding: 26px 17px;
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  min-width: 30%;
  max-width: 60%;
  position: relative;
}

.orario {
  align-self: self-start;
  font-size: 10px;
  padding: 0px 0px 0px 29px;
}

.sent {
  background-color: #d5f9ba;
  align-self: flex-end;
}

.received {
  background-color: #ffffff;
  align-self: flex-start;
}

.messaggioDelete {
  background: #ffffff;

  width: 138px;
  -webkit-box-shadow: 5px 5px 7px -1px rgba(100, 100, 100, 0.377);
  box-shadow: 5px 5px 7px -1px rgba(100, 100, 100, 0.377);
  position: absolute;
  right: 8px;
  top: 58px;
  z-index: 1;
}

.messaggioDelete p:hover {
  background: #e9e9e9;
}

.messaggioDelete p {
  font-size: 12px;
  padding: 15px;
}

.delete {
  border-top: 0.5px solid rgb(224, 224, 224);
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.ultimoMess {
  font-size: 8px;
  color: #707070;
}
