<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- font awasome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- fine font awasome link -->
    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- fine google font link -->
    <title>Vue Boolzapp</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="root">
      <div class="container">
        <!-- inizio left side -->
        <div class="leftSide">
          <div class="header">
            <div class="userimg">
              <img src="img/avatar_io.jpg" class="cover" />
              <span class="nomeUser">Monica</span>
              <div class="name"><span></span></div>
            </div>
            <div class="icon">
              <i class="i fa-solid fa-circle-notch"></i>
              <i class="i fa-solid fa-message"></i>
              <i class="i fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
          <div class="notifiche">
            <div class="iconNotifiche">
              <i class="fa-solid fa-bell-slash"></i>
            </div>
            <div class="textNotifiche">
              <h5>Ricevi notifiche di nuovi messaggi</h5>
              <h6>Attiva notifiche desktop</h6>
            </div>
          </div>
          <!-- barra di ricerca -->
          <div class="search">
            <div>
              <input
                @keypress="comparazione()"
                v-model="inputLetters"
                type="text"
                id=""
                name=""
                placeholder="Cerca o inizia una nuova chat"
              />
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
          <!-- fine barra di ricerca -->

          <!-- inizio caselle utente-->
          <!-- sezione principale della pagina web, contenente la lista dei contatti -->
          <div class="mainUsers">
            <ul>
              <!-- itera tutti i contatti -->
              <!-- "singleUser" rappresenta l'elemento corrente dell'array durante ogni iterazione, mentre "index" rappresenta l'indice corrente dell'array -->
              <li
                @click="currentContact = index"
                class="friendsBox"
                v-for="(singleUser, index) in contacts"
                :class="singleUser.visible ? '' : 'hidden'"
              >
                <!-- immagine del contatto -->
                <div class="datiUser">
                  <img
                    class="friendsImg"
                    :src="'img/avatar' + singleUser.avatar + '.jpg'"
                    :alt="singleUser.name"
                  />
                  <!-- nome e ultimo messaggio inviato o ricevuto -->

                  <!-- contacts[index].messages si riferisce all'array di messaggi 
                    del contatto corrente, mentre contacts[index].messages.length - 1 
                    indica l'indice dell'ultimo messaggio nell'array di messaggi. 
                    Infine, .message viene utilizzato per accedere alla proprietà 
                    "message" dell'ultimo messaggio nell'array. -->

                  <div class="nomeText">
                    <h5>{{singleUser.name}}</h5>
                    <span>
                      <h6 class="ultimo">
                        {{contacts[index].messages[contacts[index].messages.length
                        -1].message}}
                      </h6>
                    </span>
                  </div>
                </div>
                <!-- orario messaggio inviato o ricevuto -->
                <div class="ora">
                  <h6 class="ultimo">{{splitedDate(index)}}</h6>
                </div>
              </li>
            </ul>
          </div>

          <!-- fine caselle utente-->
          <!-- fine header left side-->
        </div>
        <!-- fine left side -->
        <!-- inizio right side -->
        <div class="rightSide">
          <div class="header header-right">
            <div class="userFirst">
              <img
                class="friendsImg"
                :src="'img/avatar' + contacts[currentContact].avatar + '.jpg'"
              />
              <div class="textUser">
                <h5>{{contacts[currentContact].name}}</h5>
                <h6>Ultimo accesso oggi alle 12.00</h6>
              </div>
            </div>
            <div class="icon">
              <i class="i fa-solid fa-magnifying-glass"></i>
              <i class="i fa-solid fa-paperclip"></i>
              <i class="i fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
          <!--  -->
          <!-- sezione principale della pagina web -->
          <div class="main">
            <!-- div che contiene tutti i messaggi della chat -->
            <div class="TuttiImessaggi">
              <!-- itera tutti i messaggi relativi al contatto corrente -->
              <div
                class="message"
                :class="message.status == 'sent' ? inviato : ricevuto"
                v-for="(message, index) in contacts[currentContact].messages"
              >
                <!-- mostra il testo del messaggio -->
                <p>{{message.message}}</p>
                <!-- mostra l'orario del messaggio -->
                <p class="orario">{{splitedDate(index)}}</p>
              </div>
            </div>
          </div>
          <!-- footer -->
          <div class="header footer-right">
            <div class="">
              <i class="i fa-regular fa-face-smile"></i>
            </div>
            <!-- input testuale per l'inserimento del messaggio -->
            <div
              class="inputMessaggio"
              @keyup.enter="inserisciTesto(currentContact), risposta(currentContact)"
            >
              <input
                type="text"
                id=""
                name=""
                placeholder="Scrivi un messaggio"
                v-model="newInputMessage"
              />
            </div>
            <div class="">
              <i class="i fa-solid fa-microphone"></i>
            </div>
          </div>
        </div>
        <!-- fine right side -->
      </div>
    </div>

    <!-- divisore -->
    <script src="
https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js
"></script>
    <script src="js/script.js"></script>
  </body>
</html>
