<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- font awasome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- fine font awasome link -->
    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- fine google font link -->
    <title>Vue Boolzapp</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="root">
      <div class="container">
        <!-- inizio left side -->
        <div class="leftSide">
          <div class="header">
            <div class="userimg">
              <img src="img/avatar_io.jpg" class="cover" />
              <span class="nomeUser">Monica</span>
              <div class="name"><span></span></div>
            </div>
            <div class="icon">
              <i class="i fa-solid fa-circle-notch"></i>
              <i class="i fa-solid fa-message"></i>
              <i class="i fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
          <div class="notifiche">
            <div class="iconNotifiche">
              <i class="fa-solid fa-bell-slash"></i>
            </div>
            <div class="textNotifiche">
              <h5>Ricevi notifiche di nuovi messaggi</h5>
              <h6>Attiva notifiche desktop</h6>
            </div>
          </div>
          <div class="search">
            <div>
              <input
                type="text"
                id=""
                name=""
                placeholder="Cerca o inizia una nuova chat"
              />
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
          <!-- inizio caselle utente-->
          <div class="mainUsers">
            <ul>
              <li
                @click="currentContact = index"
                :class="{red : visible}"
                id="idLi"
                class="friendsBox"
                v-for="(singleUser, index) in contacts"
              >
                <div class="datiUser">
                  <img
                    class="friendsImg"
                    :src="'img/avatar' + singleUser.avatar + '.jpg'"
                    :alt="singleUser.name"
                  />

                  <div class="nomeText">
                    <h5>{{singleUser.name}}</h5>
                    <h6>Ultimo messaggio inviato</h6>
                  </div>
                </div>
                <div class="ora"><h6>ora</h6></div>
              </li>
            </ul>
          </div>
          <!-- fine caselle utente-->
          <!-- fine header left side-->
        </div>
        <!-- fine left side -->
        <!-- inizio right side -->
        <div class="rightSide">
          <div class="header header-right">
            <div class="userFirst">
              <img
                class="friendsImg"
                :src="'img/avatar' + contacts[currentContact].avatar + '.jpg'"
              />
              <div class="textUser">
                <h5>{{contacts[currentContact].name}}</h5>
                <h6>Ultimo accesso oggi alle 12.00</h6>
              </div>
            </div>
            <div class="icon">
              <i class="i fa-solid fa-magnifying-glass"></i>
              <i class="i fa-solid fa-paperclip"></i>
              <i class="i fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
          <div class="main">
            <div class="TuttiImessaggi">
              <div
                class="message"
                :class="message.status == 'sent' ? inviato : ricevuto"
                v-for="(message, index) in contacts[currentContact].messages"
              >
                <p>{{message.message}}</p>
              </div>
            </div>
          </div>
          <!-- footer -->
          <div class="header footer-right">
            <div class="">
              <i class="i fa-regular fa-face-smile"></i>
            </div>
            <div
              class="inputMessaggio"
              @keyup.enter="inserisciTesto(currentContact), risposta(currentContact)"
            >
              <input
                type="text"
                id=""
                name=""
                placeholder="Scrivi un messaggio"
                v-model="newInputMessage"
              />
            </div>
            <div class="">
              <i class="i fa-solid fa-microphone"></i>
            </div>
          </div>
        </div>
        <!-- fine right side -->
      </div>
    </div>
    <!-- divisore -->
    <script src="js/script.js"></script>
  </body>
</html>
